.btn1 {
  background-color: red;
  border: none;
  height: 1.5em;
  width: 1.5em;
}

.game {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
  align-items: center;
}

.wrapper {
  height: 100%;
  display: grid;
  gap: 5px;
  grid-template-areas:
    "logo logo logo"
    "bar bar bar"
    "players canvas chat"
    "footer tools .";

  grid-template-columns: min-content auto auto;
  grid-template-rows: min-content 48px min-content min-content;
}

.logo {
  grid-area: logo;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 90px;
}

.bar {
  grid-area: bar;
  height: 100%;
  font-size: 1em;
  color: white;
  text-align: center;
  font-weight: 700;
  background-color: white;
  border-radius: 3px;
  position: relative;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  height: var(48px);
}

.chatInput {
  display: none;
}

.canvas {
  display: flex;
  grid-area: canvas;
  overflow: hidden;
  position: relative;
}

.toolbar {
  grid-area: tools;
  position: relative;
}

.chat {
  grid-area: chat;
  display: flex;
  flex-direction: column;
  width: 300px;
  font-size: 1em;
  box-sizing: border-box;
  padding-bottom: 0.2em;
  border-radius: 3px;
}

.logo a img {
  width: 320px;
  height: auto;
}

.settings {
  z-index: 20;
  position: absolute;
  width: 48px;
  height: 48px;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.icon {
  position: relative;
  cursor: pointer;
  width: 87.5%;
  height: 87.5%;
  background-image: url("https://skribbl.io/img/settings.gif");
  background-size: contain;
}

.clock {
  pointer-events: none;
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url("https://skribbl.io/img/clock.gif");
  background-size: contain;
  color: #000;
  font-size: 20px;
  line-height: 3.6;
  font-weight: bolder;
  z-index: 10;
  top: -10px;
  left: -8px;
  display: flex;
  justify-content: center;
}

.round {
  position: absolute;
  left: 60px;
  top: 14px;
  font-size: 1.4em;
  color: #000;
}

.word {
  height: 100%;
  font-family: Inconsolata, monospace;
  font-weight: bolder;
  color: black;
  text-align: center;
  position: relative;
  font-size: 1em;
  margin-left: 200px;
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.correctWordOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tools {
  display: grid;

  grid-template-columns: 2fr 1fr 0.5fr 0.5fr;
}

.colors {
  display: grid;
  grid-template-columns: 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em;
  height: 1.5em;
}

.btnClr1 {
  cursor: pointer;
  border-radius: 0;
  background-color: rgb(3, 3, 3);
}

.btnClr2 {
  cursor: pointer;
  border-radius: 0;
  background-color: rgb(241, 17, 17);
}

.btnClr3 {
  cursor: pointer;
  border-radius: 0;
  background-color: rgb(246, 235, 29);
}

.btnClr4 {
  cursor: pointer;
  border-radius: 0;
  background-color: rgb(52, 222, 18);
}

.btnClr5 {
  cursor: pointer;
  border-radius: 0;
  background-color: rgb(11, 227, 206);
}

.btnClr6 {
  cursor: pointer;
  border-radius: 0;
  background-color: rgb(34, 17, 221);
}

.btnClr7 {
  cursor: pointer;
  border-radius: 0;
  background-color: rgb(243, 9, 188);
}

.btnClr8 {
  cursor: pointer;
  border-radius: 0;
  background-color: rgb(222, 18, 55);
}

.btnClr9 {
  cursor: pointer;
  border-radius: 0;
  background-color: rgb(11, 210, 150);
}

.btnClr10 {
  cursor: pointer;
  border-radius: 0;
  background-color: rgb(255, 192, 203);
}

.delete {
  background-image: url("../media/delete.png");
  height: 40px;
  width: 40px;
  background-size: contain;
  cursor: pointer;
}

.undo {
  background-image: url("../media/undo.png");
  height: 40px;
  width: 40px;
  background-size: contain;
  cursor: pointer;
}

.pencils {
  display: flex;
  gap: 5px;
}

.pencil1 {
  cursor: pointer;
  border-radius: 0;
  background-image: url("../media/dot.png");
  height: 40px;
  width: 40px;
  background-size: contain;
}

.pencil2 {
  cursor: pointer;
  border-radius: 0;
  background-image: url("../media/pngimg.com\ -\ dot_PNG4.png");
  height: 40px;
  width: 40px;
  background-size: contain;
}

.pencil3 {
  cursor: pointer;
  border-radius: 0;
  background-image: url("../media/record-button.png");
  height: 40px;
  width: 40px;
  background-size: contain;
}

.pencil4 {
  cursor: pointer;
  border-radius: 0;
  background-image: url("../media/black-circle.png");
  height: 40px;
  width: 40px;
  background-size: contain;
}
