.chatContent {
  flex: 1 1 auto;
  height: 350px;
  padding-top: 0.2em;
  word-wrap: break-word;
  overflow: auto;
  color: black;

  background-color: white;
}

.chatForm {
  position: relative;
}

.chatInput {
  height: 2.2em;
  width: 98.6%;
  border-radius: 0;
}
