.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5em;
  width: 20em;
  height: 55vh;
  background-color: rgba(12, 44, 150, 0.75);
}

.input {
  height: 3em;
  width: 10em;
  border: none;
}

.btn {
  height: 3em;
  width: 8em;
  background-color: lawngreen;
  cursor: pointer;
}
