.playerList {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 32px;
}

.player {
  flex: 0 0 auto;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 48px;
  color: #000;
}

.background {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
}

.info {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playername {
  width: 100%;
  font-size: 1em;
  line-height: 1em;
  font-weight: 700;
}

.playerrank {
  position: absolute;
  font-weight: 700;
  font-size: 1.1em;
  top: 5px;
  left: 6px;
}

.playerscore {
  width: 100%;
  font-size: 0.9em;
  line-height: 1em;
}

.players {
  grid-area: players;
  position: relative;
  flex: 0 0 auto;
  width: 200px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}
