.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.startBtn {
  border-radius: none;
  font-size: 18px;
  cursor: pointer;
}
